<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884289441056-7tfi7hebeijbkpklh2vmrvts97hkscng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884289441056-7tfi7hebeijbkpklh2vmrvts97hkscng</string>
	<key>API_KEY</key>
	<string>AIzaSyC4GqaD9II-d3ooWehezY7OEv2cjQmsbq4</string>
	<key>GCM_SENDER_ID</key>
	<string>884289441056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nudgebg.Nudge</string>
	<key>PROJECT_ID</key>
	<string>nudge-bg</string>
	<key>STORAGE_BUCKET</key>
	<string>nudge-bg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884289441056:ios:a9fb9b33ec29a0f2aa9b45</string>
</dict>
</plist>